body {
    background-color: #272E48
}

.form-control:focus {
    box-shadow: none;
    border-color: #247edb
}

.profile-button {
    background-color: #fcffff;
    color: #247edb;
    border-color: #247edb;
}

.profile-button:hover {
    background-color: #247edb;
}

.profile-button:focus {
    background: #247edb;
    box-shadow: none
}

.profile-button:active {
    background: #247edb;
    box-shadow: none
}

.back:hover {
    color: #247edb;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}