<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="~{fragments/head::head}"></div>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <form class="user" th:action="@{/hr/resetPassword/{token}}" method="post">
                                    <div class="form-group">
                                        <input type="email" name="email" th:value="${email}" class="form-control form-control-user"
                                               id="email" aria-describedby="email">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control form-control-user"
                                               id="password" aria-describedby="password"
                                               placeholder="Entre com a nova senha aqui...">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="confirmPassord"
                                               class="form-control form-control-user"
                                               id="confirmPassword" aria-describedby="confirmPassortd"
                                               placeholder="Digite novamente a nova senha aqui...">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Clique aqui para atualizar a senha
                                    </button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments/BootsTrap_and_JS::script}"></div>

</body>

</html>